PORT=4174
SERVER_NAME=your_server_name
CONTACT_TO=eserveconne@gmail.com
MAIL_FROM=eserveconne@gmail.com
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=eserveconne@gmail.com
SMTP_PASS=your_gmail_app_password
